.app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: rgb(69, 60, 112);
    color: antiquewhite;
}
.menu-options {
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    text-decoration: none;

}
.header-link {
    color: white;
    text-decoration: none;
    align-items: center;

}
.menu-item {
    display: flex;
    align-items: center;
}
.app-header-left {
    display: flex;
    justify-content: space-between;
    width: 20%;
}